:root
  --fsize-logo: 1rem
  --color-text: black
  --media-xl-width: 1440px  
  --media-l-width: 1024px   
  --media-m-width: 768px
  --media-s-width: 425px

@media (prefers-color-scheme: dark)
  :root 
    --color-text: white

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  font-weight: normal

html, body
  font-family: Consolas, Arial, sans-serif
  font-size: 16px
  color: var(--color-text)

body
  min-height: 100vh

a
  text-decoration: none
  color: var(--color-text)

