:root
  --fsize-logo: 3rem
  --fsize-project-title: 2rem
  --color-text: black
  --color-text-invert: white
  
  --size-large-preview: 170px
  --size-middle-preview: 130px
  --size-small-preview: 100px
  
  --media-xl-width: 1440px  
  --media-l-width: 1024px   
  --media-m-width: 768px
  --media-s-width: 425px

body[data-theme="dark"]
  --color-text: white
  --color-text-invert: black

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  font-weight: normal

::selection
  background-color: black
  color: white


html, body
  font-family: 'Inter-R', Arial, sans-serif
  font-size: 14px
  color: var(--color-text)

body
  max-width: 100vw
  min-height: 100vh
  overflow-x: hidden

a
  text-decoration: none
  color: var(--color-text)
.link
  color: blue

@font-face 
  font-family: 'Inter-B'
  src: url('assets/fonts/Inter-Medium.otf') format('opentype'), url('assets/fonts/Inter-Medium.ttf') format('truetype'), url('assets/fonts/Inter-Medium.woff2') format('woff2')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'Inter-R'
  src: url('assets/fonts/Inter-Regular.otf') format('opentype'), url('assets/fonts/Inter-Regular.ttf') format('truetype'), url('assets/fonts/Inter-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'Coolvetica'
  src: url('assets/fonts/coolveticaRg.ttf') format('truetype')
  font-weight: normal
  font-style: normal